<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='//fonts.googleapis.com/css?family=Noticia+Text:400,700' rel='stylesheet' type='text/css' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>{% block title %} {{SITENAME}} {% endblock %}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.css" type="text/css"/>
  </head>
  <body>
    <div class=container>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
        
        <div class=body>
        {% block content %} {% endblock %}
        </div>
        
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}
    </div>
    {% include 'googleanalytics.html' %}
    {% include 'piwik.html' %}
  </body>
</html>

