<?xml version="1.0" encoding="utf-8"?>
<!--
LICENSE:

Simpletask is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 2 of the License, or (at your option) any
later version.

Simpletask is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
details.

You should have received a copy of the GNU General Public License along with Simpletask.  If not, see
<http://www.gnu.org/licenses/>.

@author Mark Janssen <mpc.janssen@gmail.com>
@license http://www.gnu.org/licenses/gpl.html
@copyright 2009-2012 Todo.txt contributors (http://todotxt.com)
@copyright 2012-2013  Mark Janssen
-->
<!-- suppress ALL -->
<!-- package name and version codes are overwritten by Gradle -->
<!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <application>
        <activity
            android:name="nl.mpcjanssen.simpletask.remote.LoginScreen"
            android:label="@string/app_label" >
        </activity>
        <receiver android:name="nl.mpcjanssen.simpletask.remote.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider 
            android:exported="true"
            android:name="nl.mpcjanssen.simpletask.CachedFileProvider"
            android:authorities="${applicationId}.provider.${providerFlavour}" tools:ignore="ExportedContentProvider">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <service
            android:name="nl.mpcjanssen.simpletask.remote.SimpleTaskNextcloudAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>



    </application>


</manifest>
