/* Colors for Light theme */
body                    { }
a                       { color: #234764; }
h1, h2, h3, h4, h5, h6  { color: #222; }
code, tt                { background: #eee; }
td, th                  { }
