<!--suppress XmlUnboundNsPrefix -->
<configuration debug="true">
    <appender name="LC" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
        <!-- see http://logback.qos.ch/manual/layouts.html#conversionWord for format -->
        <pattern>%relative;[%thread];%level;%msg%n</pattern>
    </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- active log file -->
        <file>${DATA_DIR}/log.txt</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${DATA_DIR}/log.%i.txt.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>1MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <!-- see http://logback.qos.ch/manual/layouts.html#conversionWord for format -->
            <pattern>%d +%relative [%thread] %logger:%level\t%msg%n%caller{1}%n%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG" >
        <appender-ref ref="FILE" />
        <appender-ref ref="LC" />
    </root>
</configuration>