<configuration>
    <appender name="LC" class="ch.qos.logback.classic.android.LogcatAppender">
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- active log file -->
        <file>log.txt</file>
        <encoder>
            <!-- see http://logback.qos.ch/manual/layouts.html#conversionWord for format -->
            <pattern>%d{HH:mm:ss.SSS};%relative;[%thread];%level;%logger;%msg%n;%caller{1};%n%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>log.%i.txt</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>500KB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="DEBUG" >
        <appender-ref ref="FILE" />
        <appender-ref ref="LC" />
        <!-- <appender-ref ref="DB" /> -->
    </root>
</configuration>